.is-loading-btn.processing {
  opacity: 0.5 !important;
  position: relative;
  pointer-events: none !important;
}

.is-loading-btn.processing::before {
  height: 1em;
  width: 1em;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -0.5em;
  margin-top: -0.5em;
  content: "";
  /* -webkit-animation: spin 1s ease-in-out infinite;
  animation: spin 1s ease-in-out infinite; */
  background: url(../images/loading_see_more.svg) center center;
  background-size: cover;
  line-height: 1;
  text-align: center;
  font-size: 2em;
  color: rgba(0, 0, 0, 0.75);
  z-index: 99;
}
