:root {
  --main-color: #000;
  --main-color-2: #000;
  --main-color-3: #1c9fd9;
}

#wpadminbar {
  background: var(--main-color) !important;
}

#adminmenu,
#adminmenu .wp-submenu,
#adminmenuback,
#adminmenuwrap {
  background-color: var(--main-color-2) !important;
}

.php-error #adminmenuback,
.php-error #adminmenuwrap {
  margin-top: 0em !important;
}

#adminmenu .wp-has-current-submenu .wp-submenu .wp-submenu-head,
#adminmenu .wp-menu-arrow,
#adminmenu .wp-menu-arrow div,
#adminmenu li.current a.menu-top,
#adminmenu li.wp-has-current-submenu a.wp-has-current-submenu {
  background: var(--main-color-3);
  color: #fff;
}

#wpadminbar a img {
  height: 1.8rem;
  width: 1.8rem;
}

#wpadminbar #wp-admin-bar-wp-logo > .ab-item {
  display: flex;
  align-items: center;
}

/* #wp-admin-bar-wp-logo {
    min-width: 3rem;
} */

#wpadminbar .ab-top-menu > li.hover > .ab-item,
#wpadminbar:not(.mobile) .ab-top-menu > li:hover > .ab-item {
  color: var(--main-color-3);
}

#adminmenu li.menu-top:hover {
  color: var(--main-color-3);
  background-color: unset;
}

#adminmenu .wp-menu-separator {
  display: none;
}

#adminmenu {
  margin-top: 0;
}

.wp-menu-overview-profile .wp-menu-image.dashicons-before {
  display: none !important;
}

.wp-menu-overview-profile .wp-menu-name {
  padding: 0 !important;
}

.wp-menu-overview-profile .overview-profile-logo img {
  width: 100%;
  height: 100%;
}

.overview-profile-logo {
  border-radius: 6px;
  margin: 1rem;
  background: #fff;
  padding: 1rem;
}

#adminmenu a.wp-menu-overview-profile:focus,
#adminmenu a.wp-menu-overview-profile:hover {
  box-shadow: unset !important;
}

.overview-profile-title {
  width: 100%;
  text-align: center;
  margin: -0.5rem 0 0rem;
  font-size: 13px;
  font-weight: 400;
  line-height: 2;
}

.overview-profile-action {
  display: flex;
  height: 100%;
  flex-wrap: nowrap;
  margin-bottom: 5px;
  gap: 0.5rem;
  justify-content: center;
}

.overview-profile-action > * {
  width: max-content;
}

.overview-profile-action > * {
  width: 25%;
}

.overview-profile-action > * img {
  margin: auto;
  display: block;
  transition: 0.4s all;
  border: 1px solid transparent;
  width: 1rem;
  height: 1rem;
  padding: 0.3rem;
}

.user-admin-color-wrap {
  display: none !important;
}

.monaRedirectAdmin {
  cursor: pointer;
}

.monaRedirectAdmin:hover img {
  background-color: #cacaca !important;
  border-radius: 100rem;
  border: 1px solid #fff;
}

#wp-admin-bar-top-secondary {
  display: none !important;
}

.wp-menu-overview-profile {
  cursor: unset !important;
}

#update-nag,
.update-nag {
  border-radius: 6px;
}

.media-frame.mode-grid .media-toolbar {
  border-radius: 6px;
}

.wrap .wp-heading-inline + .page-title-action {
  border-radius: 6px;
}

.view-switch a.current:before {
  color: var(--main-color-3);
}

.notice,
div.error,
div.updated {
  border-radius: 6px;
}

.edit-post-fullscreen-mode-close.components-button
  .edit-post-fullscreen-mode-close_site-icon {
  filter: brightness(0) invert(1);
}

#available-widgets .widget .widget-top,
#widgets-right .widget-top {
  border-radius: 0 0px 6px 6px;
}

#available-widgets .widget .widget-top::before,
#widgets-right .widget-top::before {
  content: "";
  background: linear-gradient(to left, var(--main-color-3) 44%, #a6cbd7ba);
  position: absolute;
  width: 100%;
  height: 4px;
  top: -4px;
  border-radius: 6px 6px 0px 0px;
  left: 0;
}

.mona-widget-items .box-field-item.render-item img {
  background: #00000069;
  width: 2.4rem !important;
  height: 2.4rem !important;
  padding: 1rem;
  display: block;
  margin: 0rem auto 1rem;
}

.postbox {
  border-radius: 6px;
}

.wp-core-ui .button-primary {
  background: var(--main-color-3);
  border-color: var(--main-color-3);
}

.wp-core-ui .button-primary.focus,
.wp-core-ui .button-primary.hover,
.wp-core-ui .button-primary:focus,
.wp-core-ui .button-primary:hover {
  background: var(--main-color);
  border-color: var(--main-color);
}

#menu-management .menu-edit,
#menu-settings-column .accordion-container,
.comment-ays,
.feature-filter,
.imgedit-group,
.manage-menus,
.menu-item-handle,
.popular-tags,
.stuffbox,
.widget-inside,
.widget-top,
.widgets-holder-wrap,
.wp-editor-container,
p.popular-tags {
  border-radius: 6px;
}

/* div#wpfooter {
    display: none;
} */

.wrap .add-new-h2,
.wrap .add-new-h2:active,
.wrap .page-title-action,
.wrap .page-title-action:active {
  border-radius: 6px;
}

table.wp-list-table td.column-thumb img {
  width: 100% !important;
  height: 100% !important;
  max-width: 100% !important;
  max-height: 100% !important;
}

table.wp-list-table .column-name {
  width: 20% !important;
}

.acf-admin-page .acf-notice,
.acf-admin-page .notice,
.acf-admin-page #lost-connection-notice {
  max-width: 100% !important;
}

.customize-control .attachment-media-view .thumbnail {
  background-color: rgb(0 0 0 / 30%);
  padding: 1.2rem 1.8rem;
}

#customize-controls .control-section .accordion-section-title:focus,
#customize-controls .control-section .accordion-section-title:hover,
#customize-controls .control-section.open .accordion-section-title,
#customize-controls .control-section:hover > .accordion-section-title {
  color: var(--main-color-3);
  background: #f6f7f7;
  border-left-color: var(--main-color-3);
}

.customize-panel-back:focus,
.customize-panel-back:hover,
.customize-section-back:focus,
.customize-section-back:hover {
  color: var(--main-color-3);
  background: #f6f7f7;
  border-left-color: var(--main-color-3);
  box-shadow: none;
  outline: 2px solid transparent;
  outline-offset: -2px;
}

#customize-outer-theme-controls
  .control-section
  .accordion-section-title:focus:after,
#customize-outer-theme-controls
  .control-section
  .accordion-section-title:hover:after,
#customize-outer-theme-controls
  .control-section.open
  .accordion-section-title:after,
#customize-outer-theme-controls
  .control-section:hover
  > .accordion-section-title:after,
#customize-theme-controls .control-section .accordion-section-title:focus:after,
#customize-theme-controls .control-section .accordion-section-title:hover:after,
#customize-theme-controls .control-section.open .accordion-section-title:after,
#customize-theme-controls
  .control-section:hover
  > .accordion-section-title:after {
  color: var(--main-color-3);
}

#customize-theme-controls .control-panel-themes {
  border-bottom: none;
  display: none;
}

#customize-controls .customize-info {
  margin-bottom: 0;
}

.wp-core-ui .button,
.wp-core-ui .button-secondary {
  transition: 0.4s all;
}

a {
  color: var(--main-color-2);
}

a:active,
a:hover {
  color: var(--main-color-3);
}

.wp-core-ui .button-link {
  color: var(--main-color-3);
}

.wp-core-ui .button-link:active,
.wp-core-ui .button-link:hover {
  color: var(--main-color-2);
}

.wp-admin #wpadminbar #wp-admin-bar-site-name > .ab-item:before {
  content: "";
}

/* #wpadminbar .ab-top-menu>.menupop>.ab-sub-wrapper {
    display: none;
} */

#footer-upgrade {
  display: none;
}

.wp-core-ui .button-secondary:hover,
.wp-core-ui .button.hover,
.wp-core-ui .button:hover {
  background: unset;
  border-color: var(--main-color-2);
  color: var(--main-color-2);
}

ul#adminmenu a.wp-has-current-submenu:after,
ul#adminmenu > li.current > a.current:after {
  display: none;
}

/* @media only screen and (min-width: 961px) and (max-width:1330px) {
    body:not(.folded) #adminmenu div.wp-menu-name {
        display: none;
    }
} */

@media only screen and (min-width: 961px) {
  .edit-post-layout .components-editor-notices__snackbar {
    left: 232px;
  }
  /*new*/
  /* body:not(.folded) #wpcontent, body:not(.folded) #wpfooter {
        margin-left: 0;
    } */
  body:not(.folded) #wpcontent,
  body:not(.folded) #wpfooter {
    margin-left: 264px;
  }
  /*new*/
  /* body:not(.folded) #adminmenuback {
        width: 100%;
        height: max-content;
    } */
  body:not(.folded) #adminmenuback {
    width: 264px;
  }
  /*new*/
  /* body:not(.folded) #adminmenuwrap {
        width: 100%;
        position: relative;
    } */
  body:not(.folded) #adminmenuwrap {
    width: 264px;
  }
  body:not(.folded).block-editor-page #adminmenuwrap {
    width: 232px;
  }
  body:not(.folded).block-editor-page #adminmenuback {
    width: 232px;
  }
  /* body:not(.folded) #adminmenu li:not(.wp-has-current-submenu) .wp-submenu {
        left: 200px;
    } */
  body:not(.folded) #adminmenu li:not(.wp-has-current-submenu) .wp-submenu {
    left: 254px;
  }
  body:not(.folded) .interface-interface-skeleton {
    left: 232px;
  }
  /*new*/
  /* body:not(.folded) #adminmenu {
        width: 100%;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        overflow-y: scroll;
        margin: 0;
    }
    body:not(.folded) #adminmenu > li {
        width: calc(100%/8 - 4px);
    } */
  body:not(.folded) #adminmenu {
    width: 232px;
    padding: 0 16px;
  }
  #adminmenu li.wp-has-submenu.wp-not-current-submenu:focus-within:after,
  #adminmenu li.wp-has-submenu.wp-not-current-submenu:hover:after {
    display: none;
  }
  /*new*/
  /* body:not(.folded) #adminmenu .wp-submenu {
        width: 100%;
        border-radius: 6px;
        display: none;
    }
    body:not(.folded) #adminmenu li.opensub .wp-submenu {
        left: 0;
        top: 45px;
        display: block;
        border: 1.6px dashed;
        border-color: #fff;
    } */
  body:not(.folded) #adminmenu .wp-submenu {
    width: 100%;
    border-radius: 6px;
  }
  body:not(.folded)
    #adminmenu
    li:not(.wp-has-current-submenu).opensub
    .wp-submenu {
    border: 1.6px dashed;
    border-color: #fff;
  }
  body:not(.folded) #adminmenu li.menu-top:hover,
  body:not(.folded) #adminmenu li.opensub > a.menu-top,
  body:not(.folded) #adminmenu li > a.menu-top:focus {
    border-radius: 6px;
  }
  /* body:not(.folded) #adminmenu > li {
        margin: 8px 4px;
        transition: all 1s;
        -webkit-transition: all 1s;
        -moz-transition: all 1s;
        -ms-transition: all 1s;
        -o-transition: all 1s;
        border: 1px solid rgb(202 202 202 / 30%);
        border-radius: 6px;
    } */
  /*new*/
  /* body:not(.folded) #adminmenu > li:not(:last-child) {
        margin-bottom: 4px;
        margin-top: 4px;
        margin-right: 4px;
    } */
  body:not(.folded) #adminmenu > li:not(:last-child) {
    margin-bottom: 4px;
  }
  body:not(.folded) #adminmenu a:focus,
  #adminmenu a:hover {
    box-shadow: unset;
    transition: unset;
  }
  /* body:not(.folded) #adminmenu .wp-submenu {
        transition: all 1.4s;
        -webkit-transition: all 1.4s;
        -moz-transition: all 1.4s;
        -ms-transition: all 1.4s;
        -o-transition: all 1.4s;
        border-radius: 0 0 6px 6px;
    }
    body:not(.folded) #adminmenu li:not(.wp-has-current-submenu) .wp-submenu {
        max-height: 0;
        overflow: hidden;
    }
    body:not(.folded) #adminmenu li.wp-has-submenu.opensub .wp-submenu {
        position: relative;
        z-index: 3;
        top: auto;
        left: auto !important;
        right: auto;
        bottom: auto;
        border: 0 none;
        margin-top: 0;
        box-shadow: none;
        max-height: 25rem;
    } */
  body:not(.folded)
    #adminmenu
    li.wp-first-item.wp-not-current-submenu.wp-menu-overview-profile.menu-top-first {
    border: unset !important;
  }
  #editor .components-tab-panel__tabs .components-button {
    display: block;
  }
  .block-editor-block-types-list__list-item {
    margin: 0.5rem 0.5rem;
    width: calc(100% / 3 - 1rem);
    background-color: rgb(6 11 58 / 60%);
    color: #fff !important;
    border-radius: 6px;
  }
  .components-button.block-editor-block-types-list__item {
    color: #fff !important;
  }
  .block-editor-block-icon.has-colors svg {
    fill: var(--main-color-3);
  }
  .components-button.block-editor-block-types-list__item:not(:disabled):hover
    .block-editor-block-types-list__item-title {
    color: var(--main-color-3) !important;
    filter: brightness(0.95);
  }
  .edit-post-header-toolbar
    .edit-post-header-toolbar__left
    > .components-button.has-icon:focus:not(:disabled),
  .edit-post-header-toolbar
    .edit-post-header-toolbar__left
    > .components-dropdown
    > .components-button.has-icon:focus:not(:disabled) {
    box-shadow: 0 0 0 var(--wp-admin-border-width-focus) var(--main-color-2),
      inset 0 0 0 1px #fff;
    outline: 1px solid transparent;
  }
  .components-button.is-primary {
    background: var(--wp-components-color-accent, var(--main-color-2));
  }
  .block-editor-block-types-list__item-icon {
    color: var(--main-color-3);
  }
  .widget-liquid-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }
  .widget-liquid-wrapper .widget-liquid-right,
  .widget-liquid-wrapper .widget-liquid-left {
    width: 100%;
  }
  #available-widgets #widget-list {
    position: relative;
    display: flex;
    flex-wrap: wrap;
  }
  #widgets-left #available-widgets .widget {
    width: calc(100% / 4 - 2%);
    float: left;
    margin: 0 1%;
  }
  #widgets-right {
    display: flex;
    flex-wrap: wrap;
    gap: 1%;
  }
  #widgets-right .sidebars-column-1,
  #widgets-right .sidebars-column-2 {
    float: left;
    width: 49% !important;
    max-width: 49% !important;
    margin-right: 0;
  }
  #available-widgets #widget-list {
    max-height: 15rem;
    overflow-y: scroll;
    padding-bottom: 1.2rem;
    padding-top: 1.2rem;
    box-shadow: 1px 1px 3px 0px;
  }
  /*new*/
  /* body:not(.folded) #wpwrap {
        display: flex;
        flex-direction: column;
    }  
    body:not(.folded) #adminmenu .wp-has-current-submenu.opensub .wp-submenu {
        list-style: none;
        position: absolute;
        overflow: visible;
        word-wrap: break-word;
        padding: 7px 0 8px;
        z-index: 9999;
        min-width: 160px;
    }
    li#collapse-menu {
        display: none;
    } */
}

.postbox {
  border: 1px solid var(--main-color-2);
}

body:not(.folded)
  #adminmenu
  .wp-has-current-submenu
  .wp-submenu
  .wp-submenu-head,
body:not(.folded) #adminmenu .wp-menu-arrow,
#adminmenu .wp-menu-arrow div,
body:not(.folded) #adminmenu li.current a.menu-top,
body:not(.folded)
  #adminmenu
  li.wp-has-current-submenu
  a.wp-has-current-submenu {
  border-radius: 6px 6px 0px 0px;
}

body:not(.folded) #adminmenu li.wp-has-current-submenu {
  border: 1px solid var(--main-color-3);
  border-radius: 6px;
}

input#post_monaorder {
  display: block;
}

.is-focus-mode .block-editor-block-list__block:not(.has-child-selected) {
  opacity: 1;
}

.theme-overlay .screenshot img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.wrap #submitdiv #major-publishing-actions {
  border-top: 0;
  border-radius: 6px;
}

#adminmenu a.menu-top {
  border: 1px solid #fff !important;
}
